
<!-- P A G I N A   G A L E R I A   D E   I M A G E N E S -->

<!-- CONFIGURACION -->
---
import Layout from '../layouts/Layout.astro';
import Tarjeta from '../components/Tarjeta.astro';
import Pepe1 from '../assets/Fotos-Pagina/Pepe.jpg'
import Pepe2 from '../assets/Fotos-Pagina/PepeMarco.jpg'
import Marcos1 from '../assets/Fotos-Pagina/Marcos1.jpg'
import Marcos2 from '../assets/Fotos-Pagina/Marcos2.jpg'
import Viejitos from '../assets/Fotos-Pagina/Viejitos.jpg'
---

<!-- CODIGO -->
<Layout>
	<div class="pantalla-prod-serv">
		<img src={Pepe1.src} alt="" width={150}>
		<img src={Pepe2.src} alt="" width={200}>
		<img src={Marcos1.src} alt="" width={150}>
		<img src={Marcos2.src} alt="" width={150}>
		<img src={Viejitos.src} alt="" width={400}>
	</div>	
</Layout>

<!-- ESTILOS -->
<style>
.pantalla-prod-serv {
	display: flex;
	justify-content: space-between;
}
.tarjetas-pys {
	padding: 0% 5%;
	/*align-items: center;*/
	}
.fotos {
	display: flex;
	justify-content: center;
	padding: 2%;
}
</style>