
<!-- P A G I N A   G A L E R I A   D E   I M A G E N E S -->

<!-- CONFIGURACION -->
---
import Layout from '../layouts/Layout.astro';
import Afi01 from '../assets/Carpeta-Galeria/Afi01.jpg'
import Afi02 from '../assets/Carpeta-Galeria/Afi02.jpg'
import Afi03 from '../assets/Carpeta-Galeria/Afi03.jpg'
import Dog01 from '../assets/Carpeta-Galeria/Dog01.jpg'
import Dog02 from '../assets/Carpeta-Galeria/Dog02.jpg'
import Dog03 from '../assets/Carpeta-Galeria/Dog03.jpg'
import Dog04 from '../assets/Carpeta-Galeria/Dog04.jpg'
import Esc01 from '../assets/Carpeta-Galeria/Esc01.jpg'
import Esc02 from '../assets/Carpeta-Galeria/Esc02.jpg'
import Esc03 from '../assets/Carpeta-Galeria/Esc03.jpg'
import Esc04 from '../assets/Carpeta-Galeria/Esc04.jpg'
import Nat01 from '../assets/Carpeta-Galeria/Nat01.jpg'
import Nat02 from '../assets/Carpeta-Galeria/Nat02.jpg'
import Nat03 from '../assets/Carpeta-Galeria/Nat03.jpg'
import Nat04 from '../assets/Carpeta-Galeria/Nat04.jpg'
import Urb01 from '../assets/Carpeta-Galeria/Urb01.jpg'
import Urb02 from '../assets/Carpeta-Galeria/Urb02.jpg'
import Urb03 from '../assets/Carpeta-Galeria/Urb03.jpg'
import Urb04 from '../assets/Carpeta-Galeria/Urb04.jpg'
---

<!-- CODIGO -->
<Layout>
	<div class="pantalla-galeria">
		<img src={Nat01.src} alt="" width={275}>
		<img src={Nat02.src} alt="" width={275}>
		<img src={Nat03.src} alt="" width={275}>
		<img src={Nat04.src} alt="" width={275}>
	</div>
	<div class="pantalla-galeria">
		<img src={Esc01.src} alt="" width={275}>
		<img src={Esc02.src} alt="" width={275}>
		<img src={Esc03.src} alt="" width={275}>
		<img src={Esc04.src} alt="" width={275}>
	</div>
	<div class="pantalla-galeria">
		<img src={Urb01.src} alt="" width={275}>
		<img src={Urb02.src} alt="" width={275}>
		<img src={Urb03.src} alt="" width={275}>
		<img src={Urb04.src} alt="" width={275}>
	</div>
	<div class="pantalla-galeria">
		<img src={Dog01.src} alt="" width={275}>
		<img src={Dog02.src} alt="" width={275}>
		<img src={Dog03.src} alt="" width={275}>
		<img src={Dog04.src} alt="" width={275}>
	</div>	
</Layout>

<!-- ESTILOS -->
<style>
.pantalla-galeria {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}	
</style>