
<!-- P A G I N A   H O M E -->

<!-- CONFIGURACION -->
---
import Layout from '../layouts/Layout.astro';
import Banner from '../assets/Fotos-Pagina/Banni19Gal.jpg'
import Mesa1 from '../assets/Fotos-Pagina/MesaTrab1.jpg'
---

<!-- CODIGO -->
<Layout>
	<div class="pantalla-inicio">
		<div>
			<div>
				<h1>i19.Galeria:</h1>
				<h2>El lugar para enmarcar tus mejores recuerdos, en el tamaño y con la calidad que mereces</h2>
			</div>
			<div class="fotos">
				<img src={Mesa1.src} alt="" width={210}>
			</div>
		</div>
		<div class="fotos">
			<img src={Banner.src} alt="" width={120}>
			<img src={Banner.src} alt="" width={120}>
			<img src={Banner.src} alt="" width={120}>
			<img src={Banner.src} alt="" width={120}>
			<img src={Banner.src} alt="" width={120}>
		</div>
	</div>
</Layout>

<!-- ESTILOS -->
<style>
.pantalla-inicio {
	display: flex;
	justify-content: space-between;
	padding: 1% 2%;
}
.fotos {
	display: flex;
	justify-content: center;
}
</style>